.HomeSectionGetTipsByCard {
    .container {
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "article image" "buttons image";
        column-gap: 10px;
        row-gap: 15px;
        font-size: 24px;
        margin-bottom: 2vh;
        
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-areas: "article" "image" "buttons";
        }

        article {
            grid-area: article;
            max-width: 550px;
            h1 {
                font-size: calc(min(60px, 6vh));
                font-weight: 700;
                color: #393C49;
                line-height: 70px;
                margin-bottom: 26px;
                margin-top: 26px;
            }

            p {
                opacity: 0.5;
            }
        }

        .imageContainer {
            grid-area: image;
            align-self: end;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .buttons {
            grid-area: buttons;
            display: flex;
            gap: 2vw;
            max-width: 475px;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                flex-direction: column;
                max-width: 100%;
            }

            a {
                flex-shrink: 0;
                padding: 0 20px;
                height: 50px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                border: 1px solid #393c49;
                cursor: pointer;
            }

            .startGettingTipsButton {
                border: none;
                background: #02964c;
                color: #fff;
            }
        }
    }
}